.DS_Store
.pgdb/
node_modules/

# build artifacts
dist/*
!dist/assets
!dist/favicon.ico

# Elastic Beanstalk Files
.elasticbeanstalk/*
.elasticbeanstalk/saved_configs/*
!.elasticbeanstalk/saved_configs/
!.elasticbeanstalk/saved_configs/example-config.yml

# whitelist public config files
config/*
!config/custom-environment-variables.js
!config/default.js
!config/development.js
!config/production.js
!webpack.config.js

# IDE
.vscode/
