.DS_Store
node_modules/

# build artifacts
dist/*
!dist/index.html
!dist/favicon.ico

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

config/*
!config/development.json
!config/production.json
