.DS_Store
.pgdb/
node_modules/

# build artifacts
dist/*
!dist/favicon.ico
!dist/public

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml

config/*
!config/custom-environment-variables.js
!config/development.js
!config/production.js
!webpack.config.js
