#archive-search-form {
    flex-flow: row;
}

#archive-search-form {
    input, button {
        width: 100%;
    }
}

#archive-search-results {
    margin-top: 3rem;
}

#archive-search-result {
    margin-top: 1rem;
}
