#archive-content {
    margin-top: 2rem;
}

#archive-search-results {
    margin-top: 3rem;
}

#archive-search-result {
    margin-top: 1rem;
}

#archive-upload-files {
    margin-top: 2rem;
}

.archive-thumbnail {
    width: 20rem;
}

.archive-btn-nav {
    margin-left: 1rem;
}

/* reset row width to 100% in navbar */
nav > .row {
    flex-grow: 1;
}
