/* CONTENT */
#archive-content {
    margin-top: 2rem;
}

/* SEARCH */
#archive-search-form {
    flex-flow: row;
}

#archive-search-form {
    input, button {
        width: 100%;
    }
}

#archive-search-results {
    margin-top: 3rem;
}

#archive-search-result {
    margin-top: 1rem;
}

/* UPLOAD */
#archive-upload-files {
    margin-top: 2rem;
}

/* UTILITY */
.archive-btn-nav {
    margin-left: 1rem;
}
