<!doctype html>
<html class="no-js" lang="en_US">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Media Archive">
        <title>Media Archive</title>
    </head>
    <body>
        <div id="archive-navbar"></div>
        <div id="archive-content" class="container"></div>
        <script>window.INITIAL_STATE=<%-JSON.stringify(INITIAL_STATE)%></script>
        <script src="/bundle.js"></script>
    </body>
</html>
